<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="masterSuite">
	<listeners>
		<listener class-name="utilities.ExtentReportManager"/>
	</listeners>
	<parameter name="Browser" value="edge" />
	<test thread-count="5" name="masterTest">
		<classes>
			
			
			
			<class name="testcases.TC_001AccountRegistration" />
			
		</classes>
	</test> <!-- masterTest -->
</suite> <!-- masterSuite -->
